{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="fa fa-github fa-5x"></i></a>{% endif %}
{% if site.footer-links.github %}<a class="fa" href="https://github.com/{{ site.footer-links.github }}"><i class="icon-github icon-3x"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a class="fa" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="icon-linkedin-sign icon-3x"></i></a>{% endif %}
{% if site.footer-links.medium %}<a class="fa" href="https://medium.com/{{ site.footer-links.medium }}"><i class="fa fa-medium"></i><a>{% endif %}
