<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/materialize.min.css">
        </head>
        <body>
            <nav class="teal darken-2">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
            <div class="container">
                {{ content }}
            </div>
        </body>
    </html>
