<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/assets/css/materialize.min.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
            <script src="https://use.fontawesome.com/e6c4bb9eac.js"></script>
        </head>
        <body>
            <div class="container">
                {{ content }}
            </div>
        </body>
    </html>
