<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }}</title>
            <!-- link to main stylesheet -->
            <link rel="stylesheet" type="text/css" href="/assets/css/materialize.min.css">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
            <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        </head>
        <body>
            <nav class="light-blue darken-4">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>
            </nav>
            <div class="container">
                {{ content }}
            </div>
        </body>
    </html>
